<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample page</title>
</head>
<body>
    <h2>this is sample page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam, tempore, consectetur, porro illum aliquid eligendi aperiam facere asperiores iure necessitatibus iste unde consequatur esse placeat? Deleniti asperiores ab mollitia?</p>
    <button>click me!</button>
</body>
</html>