<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<style>
    button {
        background-color: black;
        color: white;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 15px;
    }
</style>
<body>
    <h2>This is page belongs to @<%= username %> </h2>
    <button>follow <%=username %> </button><button>know more</button>
</body>
</html>